#Amarillo{
    background-color: yellow;
}

#Azul{
    background-color: blue;
}

#Rojo{
    background-color: red;
}

#Rosa{
    background-color: pink;
}

#Naranja{
    background-color: orange;
}
#Púrpura{
    background-color: purple;
}

#Verde{
    background-color: green;
}

#Marrón{
    background-color: brown;
}

#Gris{
    background-color: grey;
}

#Fucsia{
    background-color: fuchsia;
}

#Blanco{
    background-color: white;
}

#Dorado{
    background-color: goldenrod;
}

#Lavanda{
    background-color: lavender;
}

#Turquesa{
    background-color: turquoise;
}

#Celeste{
    background-color: skyblue;
}

#Coral{
    background-color: coral;
}