h1{
    color: grey;
}


#consulta{
    color: blue;
}

.investigacion{
    background-color: bisque;
}

.investigracion2{
    background-color: bisque;
}

.investigacion3{
    background-color:bisque;
}

p{
    background-color: aquamarine ;
}

.investigacion3{
    background-color:bisque;
}